<table class="footer">
	<tr>
		<td class="one-column">
			<table width="100%">
				<tr>
					<td class="inner">
						<p><a href="#">Unsubscribe</a></p>
						<p>iCracked Inc., 350 Marine Parkway, Redwood City CA 94065</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>