<table class="header" width="100%">
	<tr>
		<td class="contents">
			<img src="*|IMAGE|*" width="50" height="50" style="color: #0c9eef; font-family: Arial, sans-serif; font-size: 8px; height: auto;" border="0" alt="*|ITECH|*">
		</td>
		<td class="contents">
			<img src="http://info.icracked.com/hubfs/itech-email/certifieditech_logo-black-240w.png" width="120" style="color: #0c9eef; font-family: Arial, sans-serif; font-size: 18px; height: auto;" border="0" alt="Certified iCracked iTech">
		</td>
	</tr>
</table>