<table class="header">
	<tr>
		<td class="one-column">
			<table width="100%">
				<tr>
					<td>
						<img src="http://info.icracked.com/hubfs/advantage/logo2x.png" width="120" height="38" border="0" alt="iCracked">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>