<table class="footer" width="100%">
	<tr>
		<td class="inner contents">
			<p><a href="*|UNSUB|*">Unsubscribe from this list</a></p>
			<p>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.<br>
			*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*<br>
			<strong>&nbsp;</strong><br>
			*|LIST:ADDRESS|* *|END:IF|*</p>
		</td>
	</tr>
</table>



