<tr>
	<td class="right-sidebar-2" dir="rtl">
		<!--[if (gte mso 9)|(IE)]>
		<table width="100%" dir="rtl" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
		<tr>
		<td width="300" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
		<![endif]-->
		<table class="column left" dir="ltr">
			<tr>
				<td class="inner contents">
					<img src="http://placehold.it/280x150" width="260" alt="" />
				</td>
			</tr>
		</table>
		<!--[if (gte mso 9)|(IE)]>
		</td><td width="300" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
		<![endif]-->
		<table class="column right" dir="ltr">
			<tr>
				<td class="inner contents">
					<h1>This the Section Title</h1>
					<h3>And a little more about it goes here</h3>
				</td>
			</tr>
		</table>
		<!--[if (gte mso 9)|(IE)]>
		</td>
		</tr>
		</table>
		<![endif]-->
	</td>
</tr>