/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* Colors */
$bg: #ffffff; // Background color
$grey: #c0c0c0; // Grey for accents
$font-color: #5b6675; // Font color
$primary-color: #008ee8; // Primary color for buttons and links
$secondary-color: #0c20f5; // Secondary color for headers

/* Structure */
$padding: 10px; // For consistent padding
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 4px; // Button Border radius

/* Typography */
$font-stack: 'Proxima Nova', Avenir, Arial, sans-serif !important; // Font Family
$font-size: 16px;

